body {
    font-family: 'Roboto', sans-serif;
}


/* home page */

.navbar-light {
    background: #4B515D !important;
}

.navbar .navbar-nav .nav-item a {
    color: white !important;
    font-family: 'Staatliches', cursive;
    font-size: 1.1rem;
}

.navbar .navbar-nav .nav-item a:hover {
    color: white !important;
    background: rgb(0, 87, 128) !important;
    border: 1px solid rgb(0, 87, 128) !important;
    border-radius: 2px;
}


/* navbar drop down */

.dropdown-menu {
    background: #4B515D !important;
    margin-top: 0px;

}

.dropdown:hover>.dropdown-menu {
    display: block;

}

.btn {
    background: rgb(0, 87, 128) !important;
    border: none;
    color: #aec1d1 !important;
}

.btn:hover {
    color: white;
}

img {
    height: 100%;
    width: 100%;
}


/* slider */

.slider-btn {
    background: white;
    color: #3E4551;
    font-size: 1.1rem;
    border-radius: 2px;
    border: white 1px solid;
    width: 130px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    transform: translateX(-50), translateY(-50);
}

.carousel-caption h3 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

.carousel-inner {
    position: relative;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 5%;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, black);
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 0.3;
    width: 100px;
    height: 100%;
}

.carousel-control-prev:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.carousel-control-next:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50%;
    height: 100%;
}


/* slider end*/


/* card hover effect */

.card-hover {
    position: relative;
}

.image {
    opacity: 1;
    transition: 0.6s ease;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

#btn {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;
    opacity: 0;
    text-align: center;
}

.about-heading {
    font-family: 'Oswald', sans-serif;
}


/* forms-main */

#form {
    height: 100vh;
}

#form-main {
    border: 1px solid #aec1d1;
    border-radius: 5px;
    background: #aec1d1
}


/* form error*/

#f_name_error,
#l_name_error,
#user_name_error,
#email_error,
#pws_error,
#Repws_error {
    color: red;
    font-size: 18px;
}

#login-form-link,
#register-form-link {
    text-decoration: none;
    background: rgb(0, 87, 128) !important;
    color: white;
    padding: 5px 15px;
    border: 1px solid rgb(0, 87, 128) !important;
    border-radius: 4px;
}

#login-form-link:hover,
#register-form-link:hover {
    background: rgb(0, 87, 128) !important;
    border: 2px solid rgb(0, 87, 128) !important;
    border-radius: 4px;
    color: white;
}

.card:hover .image {
    opacity: 0.4;
}

.card:hover #btn {
    opacity: 1;
}


/* flower page */

.heading {
    font-family: 'Pacifico', cursive;
    color: #813b52;
    font-size: 3rem;
    padding-bottom: 25px;
}


/* about is  */

#aboutUs {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(../img/pic.jpeg);
    background-size: cover;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.aboutHeading {
    font-size: 50px;
    color: white;
    margin-top: 150px;
    font-weight: bold;
}

.text-paragraph {
    color: white;
    font-size: 25px;
    padding-right: 200px;
    padding-left: 200px;
}

#working {
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

.font-header h1 {
    font-size: 50px;
}

.aboutus-btn {
    font-size: 20px;
    padding: 18px;
    color: white;
    border: none;
}

#history {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: url(../img/pexels-photo-1260727.jpeg);
    background-size: cover;
    min-height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* about us end  */


/* footer */

footer {
    background: #4B515D;
}

#list {
    background: #3E4551;
}

.footer-fonty {
    color: #d7e4ff;
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
}

.map-container-4 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-4 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#contactForm {
    background: #d7e4ff !important;
}

.border {
    background: #4B515D !important;
    border: 10px solid #3E4551 !important;
    border-radius: 10px;
}


/* media quary global */


/* header section */

@media only screen and (min-width: 992px) {
    .carousel-inner {
        position: relative;
        height: 70vh;
    }
}

@media screen and (max-width: 767px) {
    .mobile-space {
        margin-top: 50px;
        width: 82px;
    }

    .mobile-space1 {
        margin-bottom: 50px;
    }

    .logo {
        margin-top: 35px;
    }
}

@media screen and (max-width: 640px) {
    .logo {
        margin-top: 45px;
    }

    .mobile-space {
        width: 82px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .mobile-space1 {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .slider-btn {
        display: none;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 40%;
        height: 100%;
    }

    .carousel-control-prev,
    .carousel-control-next {
        opacity: 0.3;
        width: 60px;
        height: 100%;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        margin-top: 80px;
    }

    .mobile-space {
        width: 82px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .mobile-space1 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}